body {
    margin: 0;
    font: 12px/1.4 "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}

#wrapper {
  margin: 0 auto;
  width: 400px;
}

#photo h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin-left: 0.4em;
  width: 400px;
}

#photo img {
  width: 400px;
}