/*
 * http://colorschemedesigner.com/#2Y41TsFLOw0w0
 */

body {
  background: black;
  font-family: "Courier";
  color: #17DD67;
}

h1, h2, h3 {
  color: #17DD67;
}

h2 {
  font-size: 1.5em;
}

.header h1 {
  display: inline;
  margin-right: 0.5em;
}
.header .tagline {
  font-style: italic;
}

#signup {
  color: #555;
}
#signup h2 {
  color: #181818;
}

#score {
  font-size: 2em;
  margin: 1em 0;
}

#game .board .wall {
  height: 21px;
/*  background: #36A663; */
  background: url('../images/wall.png') repeat-x 0 0;
}
#game #top_wall {
  margin-bottom: -5px;
  /*  
  border-bottom: 1px solid #17DD67;
  border-top: 1px solid #07903F;
  */
}
#game #bottom_wall {
  margin-top: -5px;
  /*
  border-top: 1px solid #17DD67;
  border-bottom: 1px solid #07903F;
  */
}

#board {
  position: relative;
  height: 600px;

  -webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out; 	
}

#board.lost {
  background-color: #A62709;
}

#board .player {
  position: absolute;
  background-color: #17dd66;
  border: 1px solid #17dd66;

  -webkit-transition: background-color .15s ease-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out; 	
}
#board .player.updated {
}
#board .player.colliding {
  background-color: #00b83d;
}
#board .player .name {
  position: absolute;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
#board .player.self {
  background-color: #FF931B;
  border-color: #FF931B;
}
#board .player.colliding.self {
  background-color: #A65C09;
}
#board .player.self .name {
  color: #FF931B;
}

#board .ball {
  position: absolute;
  background-color: #1E9CD2;
  border: 1px solid #1E9CD2;

  -webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
	-moz-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}
#board .ball.dead {
  background-color: #FF461B;
  border-color: #A62709; 
}

#game .actions {
  margin: 2em 0 0.5em 0;
}

#legend .item {
  float: left;
  margin-left:  1em;
}
#legend .item .icon {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0.5em 4px;
}
#legend .self .icon {
  background-color: #FF931B;
}
#legend .player .icon {
  background-color: #17dd66;
}
#legend .ball .icon {
  background-color: #1E9CD2;
}

.chat {
  margin: 2em 0;
}
.chat h2 {
  margin-bottom: 2px;
}
#chat .messages {
  height: 12em;
  overflow: auto;
  border-top: 1px dashed #777;
}
#chat .message {
  margin-bottom: 1px;
}
#chat .message .info {
  color: #999;
}
#chat .message .name {
}
#chat .message .content {
}

#chat_form input {
  width: 80%;
  display: inline;
  background-color: black;
  color: #17DD67;
}

/**
 * Button color adjustments
 */

/* Colors ---------- */
.blue.button			{ background-color: #1E9CD2; }
.red.button				{ background-color: #FF461B; }
	
/* Nice Colors ---------- */
.nice.blue.button		{ border: 1px solid #397F9E; }
.nice.red.button		{ border: 1px solid #BF573F; }

/* Hovers ---------- */
.blue.button:hover		{ background-color: #0A6289; }
.red.button:hover 		{ background-color: #A62709; }

/**
 * Notify
 */
#notify {
  position: fixed;
  top: 5px;
  left: 25%;
  width: 50%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
}
#notify article {
  padding: 1em 2em;
  border: 1px solid #333;
  background: transparent;
  overflow: auto;
}
#notify article h2 {
  float: left;
  margin: 0 1em;
  font-size: 1.0em;
  font-weight: normal;
  text-transform: capitalize;  
}
#notify article h1 {
  float: left;
  margin: 0;
  font-size: 1.0em;
  font-weight: normal;
  color: #dddddd;
}
#notify article p {
  padding: 0;
}
#notify article.error h2 {
  color: #FF0000;
}
#notify article.info h2 {
}

/**
 * Webkit scrollbars
 */
::-webkit-scrollbar {
 width: 8px;
 height: 6px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
 display: block;
 height: 10px;
 display: none;
}
::-webkit-scrollbar-button:vertical:increment {
 background-color: transparent;
 display: none;
}
::-webkit-scrollbar-track-piece {
 background-color: rgba(0, 0, 0, 0.3);
 -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
 height: 50px;
 background-color: #CECECE;
 -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
 width: 50px;
 background-color: #CECECE;
 -webkit-border-radius: 5px;
}