!!! 5
%html
  %head
    %title= title
    %meta{ "http-equiv": "content-type", "content": "text/html; charset=UTF-8" }
    %script{ src: '/public/javascripts/jquery-1.4.2.min.js' }
    %script{ src: '/public/javascripts/app.js' }
    %link{ "rel": "stylesheet", "type": "text/css", "media": "screen", "href": "/public/stylesheets/main.css" } 
  %body
    #wrapper
      %h1 Image sprinkler
      != body