!!! 5
html
  head
    title Christmas by #fnnl&#8482;
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/backend.css')
    script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-1.5.2.js')
  body!= body