#{extends 'main.html' /}
#{set title:'Sprinkle' /}
#{set 'moreStyles'}
<script src="@{'/public/javascripts/ejohn-templating.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<a href="#" id="once">once</a> | <a href="#" id="start">start</a> | <a href="#" id="stop">stop</a>

<ul id="sprinklers">
</ul>

<script type="text/html" id="sprinkler_tmpl">
  <li class="sprinkler">
    <h2><%= name %></h2>
    <ul class="images">
      <%= images %>
    </ul>
  </li>
</script>
<script type="text/html" id="image_tmpl">
  <li class="image">
    <h2 class="<%= (image.done ? 'done' : (image.error ? 'failed' : 'progress')) %>"><%= image.title %></h2>
	<% if (!image.done) { %>
    <div class="statuses">
      <%= image.statuses.join('<br />') %>
    </div>
	<% } %>
  </li>
</script>


<script type="text/javascript">

  $(function(){

	var running = false;
	  
    $('#once').click(function() {
      running = false;
      getStatuses();      
    });
    $('#start').click(function() {
      if (!running) {
        running = true;
      	getStatuses();
      }
    });
    $('#stop').click(function() {
      running = false;
    });
	  
    var sprinklers = {};

    // Retrieve new messages
    var getStatuses = function() {
      $.ajax({
        url: '@{getStatuses()}',
        type: 'POST',
        success: function(statuses) {
          updateSprinklers(statuses);
        },
        error: function(request, status, error) {
          console.log("error: " + status);
        },
        complete: function() {
          if (running) { getStatuses(); }
        },
        dataType: 'json'
      });
    }

   	var updateSprinklers = function(statuses) {
      console.log("success: " + statuses);
      $(statuses).each(function(index, status) {
        var sprinkler = status.sprinkler; 

        if (sprinkler.registered === false) {
		  delete sprinklers[sprinkler.name];
		  return;
        }

        if (sprinkler.registered === true || !(sprinkler.name in sprinklers)) {
          sprinklers[sprinkler.name] = {
            name: sprinkler.name,
            photos: {},
            photosList: []
          };
        }

        if (status.photo && status.photo.id) {
          var photo = sprinklers[sprinkler.name].photos[status.photo.id];
          if (!photo) {
            photo = {
              id: status.photo.id,
              title: status.photo.title,
              statuses: []
            };
            sprinklers[sprinkler.name].photos[status.photo.id] = photo;
            sprinklers[sprinkler.name].photosList.push(photo.id);
          }
          if (status.photo.started) {
           // do nothing
          }
          if (status.photo.status) {
            photo.statuses.push(status.photo.status);
          }
          if (status.photo.done) {
            photo.done = true;
          }
          if (status.photo.error) {
            photo.error = status.photo.error;
          }
        }

        // TODO: Remove old photos
      });
      redraw();
    };
    
    // Display sprinklers
    var redraw  = function() {
      $('#sprinklers').empty();
      var images;
      for (var sprinkler in sprinklers) {
    	sprinkler = sprinklers[sprinkler];
    	images = "";
        $(sprinkler.photosList).map(function(index, id) {
            try {
                var image = sprinkler.photos[id];
          images += tmpl('image_tmpl', { image: image } );
            } catch (e) {
				images += "Error: " + e;
            }
        });
        $('#sprinklers').append(tmpl('sprinkler_tmpl', {name: sprinkler.name, images: images}));
      }
    }

    // Start initial update
    $.ajax({
      url: "@{setup()}",
      type: 'POST',
      success: function(statuses) {
        updateSprinklers(statuses);
      },
      error: function(request, status, error) {
        console.log("error: " + status);
      },
      dataType: 'json'
    });

  });

</script>